<br />
<br />
<h1>Cursos Promovidos</h1>
<%= render :partial => 'courses', :locals => 
    { :courses => @promoted_courses } %>

<%= link_to 'Novo Curso', new_course_path %>
<br />
<br />
<h1>Cursos Não Promovidos</h1>
<%= render :partial => 'courses', :locals => 
    { :courses => @non_promoted_courses } %>


<br />

