<h1>Alterando Template de Email</h1>
<br /><br />
<div class="row">
  <div class="span4">
    <%= render 'form' %>
  </div><!-- .span4 -->
  <div class="span8" id="mail_template">
    <%= render 'preview' %>
  </div><!-- .span8 -->
</div><!-- .row -->

<%= link_to 'Voltar', courses_path %>
